---
- name: reload systemctl
  systemd:
    daemon_reload: true
  become: true

- name: run service explorer worker
  service:
    name: 'worker.service'
    state: started
    enabled: true
  become: true