---
- name: Include tasks for clear data and update binary files
  include: node-common-at-first.yml

# - name: Initialize private validator, p2p, genesis, and application configuration files
#   shell: '{{ decimal_bin }}/dscd init $(hostname) --chain-id={{ chain_id }}'
#   register: initialization

# - debug: var=initialization

- name: Copy node key
  shell: 'cp -b -f {{ decimal_keys }}/node_key.json {{ decimal_data }}/daemon/config/node_key.json'

- name: Copy validator key
  shell: 'cp -b -f {{ decimal_keys }}/priv_validator_key.json {{ decimal_data }}/daemon/config/priv_validator_key.json'

- name: Copy private validator state file
  shell: 'cp -b -f {{ decimal_keys }}/priv_validator_state.json {{ decimal_data }}/daemon/data/priv_validator_state.json'

- name: Generate genesis.json file from template
  template:
    src: ./genesis.json.j2
    dest: '{{ decimal_data }}/daemon/config/genesis.json'

- name: Sets chain-id in config.toml
  shell: '{{ decimal_bin }}/dscd config chain-id {{ chain_id }}'

- name: Include tasks with common (master & slave) final actions
  include: node-common-in-last.yml
