---
- name: Include tasks for clear data and update binary files
  include: node-common-at-first.yml

#- name: Initialize private validator, p2p, genesis, and application configuration files
#  shell: '{{ decimal_bin }}/dscd init $(hostname) --network testnet --chain-id={{ chain_id }}'
#  register: initialization

#- debug: var=initialization

- name: Create config directory if necessary
  file:
    path: '{{ decimal_data }}/daemon/config'
    state: directory
    recurse: true

- name: Create data directory if necessary
  file:
    path: '{{ decimal_data }}/daemon/data'
    state: directory
    recurse: true

- name: Copy app.toml
  shell: 'cp -b -f {{ decimal_keys }}/app.toml {{ decimal_data }}/daemon/config/app.toml'

- name: Copy config.toml
  shell: 'cp -b -f {{ decimal_keys }}/config.toml {{ decimal_data }}/daemon/config/config.toml'

- name: Copy node key
  shell: 'cp -b -f {{ decimal_keys }}/node_key.json {{ decimal_data }}/daemon/config/node_key.json'

- name: Copy validator key
  shell: 'cp -b -f {{ decimal_keys }}/priv_validator_key.json {{ decimal_data }}/daemon/config/priv_validator_key.json'

- name: Copy private validator state file
  shell: 'cp -b -f {{ decimal_keys }}/priv_validator_state.json {{ decimal_data }}/daemon/data/priv_validator_state.json'

- name: Generate genesis.json file from template
  template:
    src: ./genesis.json.j2
    dest: '{{ decimal_data }}/daemon/config/genesis.json'

- name: Sets chain-id in config.toml
  shell: '{{ decimal_bin }}/dscd config chain-id {{ chain_id }}'

#- name: Set trust mode for the node in config.toml
#  shell: '{{ decimal_bin }}/dscd config trust-node true'

- name: Include tasks with common (master & slave) final actions
  include: node-common-in-last.yml
